.feynman__link {
  position: absolute;
  top: 50%;
  right: 45px;

  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  color: var(--link-color);
}

