.kaufman__triangle {
  height: 877px;
  width: 877px;

  position: absolute;
  right: -210px;
  top: 0;
  z-index: 1;

  background: url(../../../images/kaufman-triangle.svg);
  background-size: cover;
}
