* {
  margin: 0;
  padding: 0;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #2f80ed;
}

.page {
  margin: 0 auto;

  min-width: 1100px;
  max-width: 1600px;

  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #000;
}

.logo {
  width: 183px;
  height: 32px;
}

/* Header
======================= */

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  position: relative;
}

.header__logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;

  z-index: 1;
}

.header__title {
  margin-left: 64px;
  max-width: 730px;

  font-size: 102px;
  font-weight: bold;
  line-height: 96px;

  z-index: 1;
}

.header__subtitle {
  max-width: 388px;

  position: absolute;
  bottom: 30px;
  left: 64px;

  z-index: 1;

  font-size: 18px;
  font-weight: normal;
  line-height: 25px;

}

.header__main-illustration {
  width: 765px;
  height: 608px;

  position: absolute;
  bottom: 0;
  right: 0;

  z-index: 1;
}

.header__square-pic {
  width: 568px;
  height: 568px;

  position: absolute;
  top: 64px;
  right: 0;

  background:  #2f80ed;
}

/* Description
======================= */

.description {
  padding: 100px 0;
}

.two-colums {
  margin: 0 auto;

  width: 80%;

  display: flex;
  justify-content: space-between;
}

.two-colums__brief {
  width: 175px;

  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: #2f80ed;
}

.two-colums__main-text {
  min-width: 784px;
  width: 80%;
}

.two-colums__paragraph {
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.two-colums__paragraph:nth-child(2n) {
  margin: 30px 0;
}

.two-colums__span-accent {
  font-weight: bold;
}






















/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  margin-right: 0;
  margin-top: 80px;

  width: 200px;

  color: white;
}
