


/* Header
======================= */

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  position: relative;

  background: #f2f2f2;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 1;

  background: url(../images/logo_place_header.svg);
}


.header__title {
  margin: 0 0 0 64px;
  width: 730px;

  font-size: 102px;
  font-weight: bold;
  line-height: 96px;

  z-index: 2;
}

.header__subtitle {
  margin: 0;

  width: 388px;

  position: absolute;
  bottom: 30px;
  left: 64px;

  z-index: 2;

  font-size: 18px;
  font-weight: normal;
  line-height: 25px;

}
.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__link:hover {
  text-decoration: underline;
}

.header__main-illustration {
  width: 765px;
  height: 608px;

  position: absolute;
  bottom: 0;
  right: 0;

  z-index: 1;
}

.header__square-pic {
  width: 568px;
  height: 568px;

  position: absolute;
  top: 64px;
  right: 0;

  background:  #2f80ed;
}

/* Description
======================= */

.description {
  padding-top: 100px;
}

.two-columns {
  margin: 0 auto;

  width: 80%;

  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  margin: 0;

  width: 175px;

  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: #2f80ed;
}

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
}

.two-columns__paragraph {
  margin: 0;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.two-columns__paragraph:nth-child(2n) {
  margin: 30px 0;
}

.two-columns__span-accent {
  font-weight: bold;
}

/* Digits
======================= */

.digits {
  padding: 100px 0;
}

.section-title {
  margin: 0 auto;

  width: 60%;

  font-size: 60px;
  line-height: 1.15;
  font-weight: bold;
  text-align: center;
}

.section-subtitle {
  margin: 20px auto 0;

  width: 60%;

  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  text-align: center;
}

.table {
  margin: 0 auto;
  padding: 0;

  width: 1100px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  list-style: none;
}

.table__cell {
  margin-top: 60px;
  padding: 0;

  width: 250px;
}

.table__heading {
  margin: 0;

  font-size: 24px;
  line-height: 1.15;
  font-weight: bold;
}

.table__text {
  margin: 20px 0 0;

  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
}

/* Feynman
======================= */

.feynman {
  min-height: 890px;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  background:#f2f2f2 url(../images/feynman.png) no-repeat left bottom;
}

.feynman__title {
  margin: 100px 0 0;

  width: 648px;

  font-size: 120px;
  line-height: 1.15;
  font-weight: bold;
  text-align: center;
}

.feynman__subtitle {
  margin: 70px 0 0;

  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  text-align: center;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 45px;

  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  color: #2f80ed;
}

.feynman__link:hover {
  text-decoration: underline;
}


/* Kaufman
======================= */

.kaufman {
  padding: 90px 0;

  position: relative;

  background: #1f1f1f;

  overflow: hidden;
}

.section-title_theme_dark {
  color: #fff;

  position: relative;
  z-index: 2;
}

.section-subtitle_theme_dark {
  color: #fff;

  position: relative;
  z-index: 2;
}

.table__cell_theme_dark {
  margin-right: 0;
  margin-top: 80px;

  width: 200px;

  color: white;

  z-index: 2;
}

.kaufman__triangle {
  height: 877px;
  width: 877px;

  position: absolute;
  right: -210px;
  top: 0;
  z-index: 1;

  background: url(../images/kaufman-triangle.svg);
  background-size: cover;
}

/* Footer
======================= */

.footer {
  box-sizing: border-box;

  padding: 60px 0 40px;

  min-height: 350px;

  display: flex;

  background: #1f1f1f;
  color: #fff;
}

.footer__columns {
  margin: 0 auto;

  width: 90%;

  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.logo_place_footer {
  width: 183px;
  height: 35px;

  background: url(../images/logo_place_footer.svg);
}

.footer__author {
  margin: 18px 0;

  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}

.footer__column_content_info,
.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.footer__column-heading {
  margin: 0;

  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.footer__column-links {
  margin: 20px 0 16px;
  display: flex;
  flex-direction: column;
}

.footer__social-icon {
  margin-right: 10px;

  width: 16px;
  height: 16px;
}

.footer__column-link {
  display: flex;
  align-items: center;

  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
}

.footer__column-link:hover {
  text-decoration: underline;
}
